.App .side-bar {
    border-right: 1px solid var(--border-color);
}

.App .side-bar ul {
    font-size: var(--text-font-size);
    color: var(--text-black-color);
    border: none;
}

.App .side-bar ul li {
    margin: 0;
    padding-left: 15px !important;
}

.ant-layout-sider-trigger {
    border: 1px solid var(--border-color);
    border-left: none;
}
