.App {
  text-align: center;
}

.App .App-header {
  height: 50px;
  line-height: 50px;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: rgb(85, 84, 84);
  border-bottom: 1px solid rgb(117, 117, 117, 0.25);
  margin-bottom: 20px;
  background: white;
}

.content {
  color: rgb(85, 84, 84);
  font-size: 13px;
  display: flex;
  min-height: 100vh;
  background: white;
  margin-left: 20px;
  padding: 10px;
}

.ant-layout {
  background: white;
}
